/* HEADER */
.header-container {
    display: flex;
    margin-left: 20%;
    align-items: center;
}

.logo {
    height: 60px;
    margin-left:10px; /*Version movil se pega a la izquierda del todo,le asigno un margin-left*/
    margin-right: 10px; /* Espacio entre el logo y el título */
}

.header-container h1 {
    font-size: 24px;
    color: var(--color-white);
    text-shadow: 2px 3px 4px rgba(255, 224, 102, 1);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-container p {
    margin-top: 20px;
    font-size: 10px;
}
