/* SECTION-CUERPOS */
.cuerpos-titulo {
    width: 100%;
    margin-top: 9rem;
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.1), 0 4px 15px rgba(0, 0, 0, 0.1);
}

.cuerpos-titulo h3 {
    padding-top: 30px;
    text-align: center;
    background-color: var(--color-light-grey);
    background-image: url('/img/4907157.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: var(--color-blue);
    font-variant: small-caps;
    font-style: italic;
    font-size: 28px;
    text-shadow: 4px 4px 4px var(--color-light-grey, 5);
    letter-spacing: 2px;
}

.cuerpos {
    background-color: var(--color-light-grey);
    background-image: url('/img/4907157.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    overflow: hidden;
    height: 70vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Añadido espacio entre artículos */
}

.cuerpos article {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex 0.3s ease-in-out;
    position: relative;
    flex: 1; /* Añadido para asegurar el tamaño inicial */
}

.cuerpos img {
    width: 60%;
    height: 80%;
    object-fit: cover;
    transition: transform 0.8s ease-in-out;
    transform-origin: center; /* Centrar el punto de origen del zoom */
}

.cuerpos article:hover {
    flex: 1.5;
}

.cuerpos article:hover img {
    transform: scale(1.1);
}




/* SECTION-BLOG-NEWS */
#blog-news {
    background-color: var(--color-light-grey);
    background-image: url('/img/4907157.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 0 40px 50px 40px;
    gap: 10px;
    overflow: hidden; /* Asegurar que el contenido adicional no cause desbordamiento */
    margin-top: 10rem;
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.1), 0 4px 15px rgba(0, 0, 0, 0.1);
    scroll-margin-top: 220px;
}

#blog-news h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: var(--color-blue);
    font-variant: small-caps;
    font-style: italic;
    font-size: 32px;
    text-shadow: 4px 4px 4px var(--color-light-grey, 5);
    letter-spacing: 2px;
}

#blog-news ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#blog-news li {
    display: flex;
    background-color: var(--color-white);
    background-image: url('./img/so-white.png');
    padding: 10px;
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s ease-in-out, background-color 0.3s;
    flex: 1;
}

#blog-news li img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 5px;
}

#blog-news li:hover {
    transform: translateY(-5px); /* Efecto de elevación */
}

#blog-news a {
    display: flex;
    text-decoration: none;
    color: var(--color-blue);
    font-weight: bold;
    width: 100%;
}

#blog-news a:hover {
    color: var(--color-black); /* Cambiar color de texto al pasar el ratón */
}

#blog-news h3 {
    font-size: 18px;
    margin: 0;
}

#blog-news p {
    font-size: 13px;
    margin: 5px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Mostrar un máximo de 3 líneas */
    -webkit-box-orient: vertical;
    max-height: 3.6em; /* Limitar la altura a tres líneas de texto */
}




/* SECTION-WHO */
#who {
    background-color: var(--color-light-grey);
    background-image: url('/img/4907157.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 0px 30px 20px 30px;
    overflow: hidden; /* Asegurar que el contenido adicional no cause desbordamiento */
    margin-top: 10rem;
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.1), 0 4px 15px rgba(0, 0, 0, 0.1);
    scroll-margin-top: 80px;
}

#who h2 {
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--color-blue);
    font-variant: small-caps;
    font-style: italic;
    font-size: 32px;
    text-shadow: 4px 4px 4px var(--color-light-grey, 5);
    letter-spacing: 2px;
}

#who h3 {
    color: var(--color-blue);
    margin-top: 45px;
    margin-bottom: 10px;
    font-size: 20px;
}

#who p, #who ul {
    margin: 10px 0;
    font-size: 15px;
}

#who p {
    font-weight: bold;
}

#who .who-text {
    background-color: var(--color-white);
    background-image: url('/img/so-white.png');
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

#who .who-text h3 {
    padding: 10px 0 0 15px;
}

#who .who-text ul {
    padding: 0 0 10px 35px;
}

#who .who-text p {
    padding: 0 0 10px 15px;
}

#who ul {
    list-style-type: disc;
    padding-left: 20px;
}

#who .join-community {
    background-color: var(--color-white);
    background-image: url('/img/so-white.png');
    text-align: center;
    color: var(--color-black);
    padding: 20px;
    border-radius: 8px;
    margin-top: 35px;
    margin-bottom: 30px;
}

#who .join-community h3 {
    font-size: 20px;
    margin: 0 0 10px 0;
}

#who .join-community p {
    margin: 0;
    font-size: 15px;
}




/* SECTION-CONTACTO */
#contacto {
    margin-top: 10rem;
    padding: 0px 0px 10px 0px;
    background-color: var(--color-light-grey);
    background-image: url('/img/4907157.jpg');
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.1), 0 4px 15px rgba(0, 0, 0, 0.1);
    scroll-margin-top: 140px;
}

#contacto h2 {
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--color-blue);
    font-variant: small-caps;
    font-style: italic;
    font-size: 32px;
    text-shadow: 4px 4px 4px var(--color-light-grey, 5);
    letter-spacing: 2px;
}

#contacto h3 {
    color: var(--color-blue);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-variant: small-caps;
}

#contacto p {
    margin: 15px 0;
    font-size: 15px;
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Formulario */
.contact-form{
    width: 45%;
    padding: 40px;
    background-color: var(--color-white);
    background-image: url('/img/so-white.png');
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

.contact-form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--color-black);
    border-radius: 4px;
}

.contact-form div {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.contact-form button {
    width: 50%;
    padding: 10px;
    background: var(--color-blue);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.contact-form button:hover {
    background: var(--color-black);
}

/* Info */
.contact-info {
    width: 20%;
    padding: 40px;
    background-color: var(--color-white);
    background-image: url('/img/so-white.png');
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-info a img {
    width: 130px;
    height: auto;
}

.contact-info-text {
    text-align: center;
}

.contact-info-logo {
    margin-top: 10px;
    display: flex;
    justify-content: center; /* Centrar los iconos horizontalmente */
    gap: 30px; /* Añadir espacio entre los iconos */
}

.contact-info-logo a img {
    width: 40px;
    height: auto;
}
