/* AJUSTES GENERALES */

/* Fuentes */
@font-face {
    font-family: 'Utendo';
    src: url('fonts/Utendo-Light.woff2') format('woff2'),
        url('fonts/Utendo-Light.woff') format('woff'),
        url('fonts/Utendo-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Utendo';
    src: url('fonts/Utendo-Bold.woff2') format('woff2'),
        url('fonts/Utendo-Bold.woff') format('woff'),
        url('fonts/Utendo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Utendo';
    src: url('fonts/Utendo-Medium.woff2') format('woff2'),
        url('fonts/Utendo-Medium.woff') format('woff'),
        url('fonts/Utendo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Utendo';
    src: url('fonts/Utendo-Regular.woff2') format('woff2'),
        url('fonts/Utendo-Regular.woff') format('woff'),
        url('fonts/Utendo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Colores */
:root {
    --color-white: #FFFFFF;
    --color-blue: #0768A9;
    --color-black: #000000;
    --color-light-yellow: #FFE066;
    --color-yellow: #FFCC00;
    --color-light-blue: #3D9ED1;
    --color-light-grey: #E1E1E1;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Utendo', sans-serif;
}

/* html */
html {
    scroll-behavior: smooth; /* Habilitar desplazamiento suave */
}

/* Body */
body {
    background-color: var(--color-white);
    background-image: url('./img/so-white.png');
}

/* Contenedores */
.container1 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px; /* Puedes ajustar este valor según tus necesidades */
}

.container2 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1800px; /* Puedes ajustar este valor según tus necesidades */
}
