/* Estilos para la sección Privacy */
#privacy {
    padding: 30px 40px;
    background-image: url('../img/4907157.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin-top: 8rem;
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.1), 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Asegurar que el contenido adicional no cause desbordamiento */
}

#privacy h2 {
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
    color: var(--color-blue);
    font-variant: small-caps;
    font-style: italic;
    font-size: 32px;
    text-shadow: 4px 4px 4px var(--color-light-grey, 5);
    letter-spacing: 2px;
}

.privacy-item {
    margin-bottom: 20px;
}

.privacy-item h3 {
    color: var(--color-blue);
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color-blue); /* Añadir línea fina debajo de cada h3 */
    padding-bottom: 5px; /* Añadir un poco de padding para separar la línea del texto */
}

.privacy-item p,
.privacy-item ul {
    font-size: 16px;
    color: var(--color-black);
    margin-bottom: 40px;
}

.privacy-item ul {
    list-style-type: disc;
    margin-left: 20px;
}

.privacy-item ul li {
    margin-bottom: 10px;
}
